<template>
  <div>
    <el-result
        icon="success"
        title="신청 완료"
        sub-title="이벤트 신청이 완료되었습니다."
    >
      <template #extra>
        <el-button type="primary" @click="backForm()">Back</el-button>
      </template>
    </el-result>
  </div>
</template>

<script lang="ts" setup>
const router = useRouter();
const backForm = () => router.push('/');
</script>