<template>
  <body>
  <div class="mcd-banner-box">
    <img src="../public/le-sserafim.jpg" alt="banner_img">
  </div>
  <div class="mcd-contents-box">
    <div class="mcd-center">
      <el-form
          ref="ruleFormRef"
          style="max-width: 600px"
          :model="ruleForm"
          :rules="rules"
          label-width="auto"
          class="demo-ruleForm"
          :size="formSize"
          status-icon
      >
        <el-form-item label="이름" prop="name">
          <el-input v-model="ruleForm.name"/>
        </el-form-item>
        <el-form-item label="연락처" prop="phoneNumber">
          <el-input v-model="ruleForm.phoneNumber"/>
        </el-form-item>
        <el-form-item label="희망 선물" prop="hopeGift">
          <el-input v-model="ruleForm.hopeGift"/>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm(ruleFormRef)">
            이벤트신청
          </el-button>
          <el-button @click="resetForm(ruleFormRef)">다시작성</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
  </body>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import type { ComponentSize, FormInstance, FormRules } from 'element-plus'
import {$fetch} from "ofetch";



interface RuleForm {
  name: string
  phoneNumber: string
  hopeGift: string
}

const router = useRouter()
const formSize = ref<ComponentSize>('default')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive<RuleForm>({
  name: '',
  phoneNumber: '',
  hopeGift: '',
})

const locationOptions = ['Home', 'Company', 'School']

const rules = reactive<FormRules<RuleForm>>({
  name: [
    {required: true, message: '이름을 입력해 주세요', trigger: 'blur'},
    {min: 2, max: 20, message: 'Length should be 2 to 20', trigger: 'blur'},
  ],
  phoneNumber: [
    {required: true, message: '연락처를 입력해 주세요', trigger: 'blur'},
    {min: 10, max: 15, message: 'Length should be 10 to 15', trigger: 'blur'},
  ],
  hopeGift: [
    {required: true, message: '희망 선물을 입력해 주세요', trigger: 'blur'},
    {min: 2, max: 20, message: 'Length should be 2 to 20', trigger: 'blur'},
  ],
})

async function sendAPI() {
  await $fetch('http://localhost:8080/event/new', {
    method: 'POST',
    body: ruleForm
  }).then(() => router.push('/complete'));
}

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      sendAPI();
    }
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
}

const options = Array.from({length: 10000}).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`,
}))
</script>
